#ignore these from source control
_ReSharper*/
_tmp/
[Tt]est[Rr]esult*/
[Pp]ackages/
.paket/
AutoTest.Net*/
node_modules/
.tmp/
.sass-cache/
bower_components/
dist/
lib/
*.log
paket-files/
report/
.vs/
.fable/
.idea/
*.orig
*.DotSettings.user
.ionide/
.fake/
[Tt]humbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.jfm
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
.idea/
temp/
*.jfm
database/database.dbmdl
/.vscode/settings.json
.ionide/
